<footer class="text-center text-white mt-4" style="background-color: #8b6260">
    <hr class="text-dark">
    
    <div class="container">
      <!-- Section: Social media -->
      <section class="mb-3">
        
        <!-- Facebook -->
        <a
          class="btn-link btn-floating btn-lg text-white"
          href="https://www.facebook.com/princessiqlima.kafilla.7"
          role="button"
          data-mdb-ripple-color="dark">
          <i class="fab fa-facebook-f"></i>
        </a>
  
  
        <!-- Instagram -->
        <a
          class="btn-link btn-floating btn-lg text-white"
          href="https://instagram.com/princessiqlima"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-instagram"></i
        ></a>
  
        <!-- YouTube -->
        <a
          class="btn-link btn-floating btn-lg text-white"
          href="https://www.youtube.com/@princessiqlimakafilla7995"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-youtube"></i
        ></a>
        <!-- Github -->
        <a
          class="btn-link btn-floating btn-lg text-white"
          href="https://github.com/princessiqlima"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2); text-color: #E0E0E0">
      © <script>document.write(new Date().getFullYear());</script>
      | Made with <i class="fas fa-heart text-danger"> </i> by Princess
    </div>
    <!-- Copyright -->
  </footer>